@using Server.Utilities.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Server.DTOs.Accounts.AccountDetailDto>

@{
    ViewData["Title"] = "AccountDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center">Account Detail</h1>

<div id="accordionExample" class="accordion mt-3 accordion-without-arrow d-block">
    @foreach (var item in Model)
    {
        var accordionId = $"accordion_{item.Name.Replace(" ", "_")}";
        <div class="card accordion-item">
            <h2 class="accordion-header" id="heading_@accordionId">
                <button type="button"
                        class="accordion-button collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#@accordionId"
                        aria-controls="@accordionId">
                    <span class="col">@Html.DisplayFor(modelItem => item.Name)</span>
                    <div class="row">
                        <div class="col">
                            @if (item.IsActive is true)
                            {
                                <span class="badge bg-success">Account is Active</span>
                            }
                            else if (item.IsActive is false)
                            {
                                <span class="badge bg-danger">Account Need to Activate</span>
                            }
                        </div>
                    </div>
                </button>
            </h2>
            <div id="@accordionId"
                 class="accordion-collapse collapse"
                 aria-labelledby="heading_@accordionId"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="d-grid">
                        <div class="col">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                                    <td>: @Html.DisplayFor(modelItem => item.Name)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.BirthDate.Date)</th>
                                    <td>: @Html.DisplayFor(modelItem => item.BirthDate.Date)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Gender)</th>
                                    <td>: @Html.DisplayFor(modelItem => item.Gender)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                                    <td>: @Html.DisplayFor(modelItem => item.Email)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                                    <td>:  @Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="m-1">
                            <form action="/Account/Activate" method="post" id="activate-form" onsubmit="return confirm('Apakah Anda yakin ingin mengaktifkan account ini?')">
                                <input type="hidden" value="@item.Guid" name="guid"/>
                                <button value="" class="btn rounded-pill btn-outline-success">
                                    <span class="tf-icons bx bx-user-check d-none d-sm-inline"></span>&nbsp; Activate
                                </button>
                            </form>
                        </div>
                        <div class="m-1">
                            <form action="/LeaveRequest/Delete" method="post" onsubmit="return confirm('Apakah Anda yakin ingin menghapus data ini?')">
                                <input type="hidden" value="@item.Guid" name="guid"/>
                                <button value="" class="btn rounded-pill btn-outline-danger" onclick="return true">
                                    <span class="tf-icons bx bx-trash d-none d-sm-inline"></span> Delete
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script>
        async function showConfirmation() {
            Swal.fire({
                title: 'Apakah Anda Yakin?',
                text: 'Ingin mengaktifkan akun?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Ya',
                cancelButtonText: 'Tidak',
            }).then((result) => {
                if (result.isConfirmed) {
                    // Jika pengguna menekan "Ya", submit form
                    document.getElementById('activate-form').submit();
                }
            });
        }
        
        $(document).ready(function () {
            const Token = '@Context.Session.GetString("JWToken")';
            $.ajax({
                url: "https://localhost:7293/api/accounts/",
                headers: {
                    "Authorization": "Bearer " + Token
                }
            }).done(function (result) {
                if (result.data.length > 0) {
                    const accounts = result.data.find(e => e.guid === '@User.FindFirst("Guid")?.Value');
                    console.log(accounts)
                    if (accounts && accounts.profilPictureUrl) {
                        $('#profilePicture').attr('src', accounts.profilPictureUrl);
                        $('#profilePictureDropDown').attr('src', accounts.profilPictureUrl);
                    } else {
                        $('#profilePicture').attr('src', '/assets/img/avatars/1.png');
                        $('#profilePictureDropDown').attr('src', '/assets/img/avatars/1.png');
                    }
                } else {
                    $('#profilePicture').attr('src', '/assets/img/avatars/1.png');
                    $('#profilePictureDropDown').attr('src', '/assets/img/avatars/1.png');
                }
            }).fail(function () {
                $('#profilePicture').attr('src', '/assets/img/avatars/1.png');
                $('#profilePictureDropDown').attr('src', '/assets/img/avatars/1.png');
            });
        });
    </script>
}

