@using Server.Utilities.Enums;
@model IEnumerable<Server.DTOs.LeaveRequests.LeaveRequestDetailDto>

@{
    ViewData["Title"] = "Account";
    Layout = "_LayoutAdmin";
}
<div class="container">
    <h1 class="col">Leave Request   
        <a asp-action="Create">
            <button type="button" class="btn btn-outline-primary">
                <i class='bx bx-plus'></i>
            </button>
        </a>
    </h1>
</div>

<div id="accordionExample" class="accordion mt-3 accordion-without-arrow d-block">
    @foreach (var item in  Model.OrderByDescending(i => i.LeaveStart))
    {
        var accordionId = $"accordion_{item.RequestNumber.Replace(" ", "_")}";
        <div class="card accordion-item">
            <h2 class="accordion-header" id="heading_@accordionId">
                <button type="button"
                        class="accordion-button collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#@accordionId"
                        aria-controls="@accordionId">
                    <span class="col">@Html.DisplayFor(modelItem => item.RequestNumber)</span>
                    <div class="row">
                        <div class="col">
                            <span class="badge bg-secondary">@item.LeaveDays.Days Days</span>
                            @if (item.Status == Status.Draft)
                            {
                                <span class="badge bg-secondary">Draft</span>
                            }
                            else if (item.Status == Status.OnProcess)
                            {
                                <span class="badge bg-primary">OnProcess</span>
                            }
                            else if (item.Status == Status.Success)
                            {
                                <span class="badge bg-success">Success</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Rejected</span>
                            }
                        </div>
                    </div>
                </button>
            </h2>
            <div id="@accordionId"
                 class="accordion-collapse collapse"
                 aria-labelledby="heading_@accordionId"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="d-grid">
                        <div class="col">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Relation Manager</th>
                                    <td>: @Html.DisplayFor(modelItem => item.RelationManager)</td>
                                </tr>
                                <tr>
                                    <th>Leave Type</th>
                                    <td>: @Html.DisplayFor(modelItem => item.LeaveType)</td>
                                </tr>
                                <tr>
                                    <th>Leave Start</th>
                                    <td>: @Html.DisplayFor(modelItem => item.LeaveStart)</td>
                                </tr>
                                <tr>
                                    <th>Leave End</th>
                                    <td>: @Html.DisplayFor(modelItem => item.LeaveEnd)</td>
                                </tr>
                                <tr>
                                    <th>Phone Number</th>
                                    <td>:  @Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                </tr>
                                <tr>
                                    <th>Notes</th>
                                    <td>: @Html.DisplayFor(modelItem => item.Notes)</td>
                                </tr>
                                <tr>
                                    <th>Leave Days</th>
                                    <td>: @Html.DisplayFor(modelItem => item.LeaveDays.Days) Days</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>: @Html.DisplayFor(modelItem => item.Status)</td>
                                </tr>
                                <tr>
                                    <th>Attachment</th>
                                    <td>: @Html.DisplayFor(modelItem => item.Attachment)</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="d-flex">
                        @if (item.Status == Status.Draft)
                        {
                            <div class="m-1">
                                <form>
                                    <a type="button" class="btn rounded-pill btn-outline-secondary" asp-action="EditEmployee" asp-route-id="@item.Guid">
                                        <span class="tf-icons bx bx-edit d-none d-sm-inline"></span>&nbsp; Edit
                                    </a>
                                </form>
                            </div>
                            <div class="m-1">
                                <form action="/LeaveRequest/Send" method="post" onsubmit="return confirm('Apakah Anda Yakin Ingin mengajukan cuti?')">
                                    <input type="hidden" value="@item.Guid" name="guid"/>
                                    <button value="" class="btn rounded-pill btn-outline-success" onclick="return true">
                                        <span class="tf-icons bx bx-send d-none d-sm-inline"></span>&nbsp; Send
                                    </button>
                                </form>
                            </div>
                            <div class="m-1">
                                <form action="/LeaveRequest/Delete" method="post" onsubmit="return confirm('Apakah Anda Yakin Ingin menghapus data ini?')">
                                    <input type="hidden" value="@item.Guid" name="guid"/>
                                    <button value="" class="btn rounded-pill btn-outline-danger" onclick="return true">
                                        <span class="tf-icons bx bx-trash d-none d-sm-inline"></span>&nbsp; Delete
                                    </button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div class="m-1">
                                <button class="btn rounded-pill btn-outline-secondary" disabled>
                                    <span class="tf-icons bx bx-edit d-none d-sm-inline"></span>&nbsp; Edit
                                </button>
                            </div>
                            <div class="m-1">
                                <button class="btn rounded-pill btn-outline-success" disabled>
                                    <span class="tf-icons bx bx-send d-none d-sm-inline"></span>&nbsp; Send
                                </button>
                            </div>
                            <div class="m-1">
                                <button class="btn rounded-pill btn-outline-danger" disabled>
                                    <span class="tf-icons bx bx-trash d-none d-sm-inline"></span>&nbsp; Delete
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>