@using Server.Utilities.Enums;
@model IEnumerable<Server.DTOs.LeaveRequests.LeaveRequestDetailDto>

@{
    ViewData["Title"] = "Account";
}

<h1>Account</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelationManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attachment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelationManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@

<div id="accordionExample" class="accordion mt-3 accordion-without-arrow">
    @foreach (var item in Model)
    {
        var accordionId = $"accordion_{item.RequestNumber.Replace(" ", "_")}";
        <div class="card accordion-item">
            <h2 class="accordion-header" id="heading_@accordionId">
                <button type="button"
                        class="accordion-button collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#@accordionId"
                        aria-controls="@accordionId">
                    <span class="col">@Html.DisplayFor(modelItem => item.RequestNumber)</span>
                    <div class="row">
                        @if (item.Status == Status.Draft)
                        {
                            <span class="badge bg-secondary">Draft</span>
                        }
                        else if (item.Status == Status.OnProcess)
                        {
                            <span class="badge bg-primary">OnProcess</span>
                        }
                        else if (item.Status == Status.Success)
                        {
                            <span class="badge bg-success">Success</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Rejected</span>
                        }
                    </div>
                </button>
            </h2>
            <div id="@accordionId"
                 class="accordion-collapse collapse"
                 aria-labelledby="heading_@accordionId"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Dessert ice cream donut oat cake jelly-o pie sugar plum cheesecake. Bear claw dragée oat cake
                    dragée ice cream halvah tootsie roll. Danish cake oat cake pie macaroon tart donut gummies.
                    Jelly beans candy canes carrot cake. Fruitcake chocolate chupa chups.
                </div>
            </div>
        </div>
    }
</div>
