@model IEnumerable<Server.Models.LeaveRequest>

@{
    ViewData["Title"] = "Index";
}



<div class="card">
    <h1 class="card-header">Data Leave Request</h1>
    <p>
        <a class="btn btn-primary" href="/LeaveRequest/Create">Add Leave Request <i class="fa-solid fa-plus"></i></a>
    </p>
    <div class="table-responsive text-nowrap">
    <table class="table table-hover">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.EmployeeGuid)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attachment)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.Guid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>*@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.EmployeeGuid)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Guid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Guid" class="fas fa-edit text-info"></a>
                <form action="/LeaveRequest/Delete" method="post" onsubmit="return confirm('Apakah Anda Yakin Ingin menghapus data ini?')">
                    <input type="hidden" value="@item.Guid" name="guid" />
                    <button value="" class="fas fa-trash text-danger" onclick="return true"></button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

</div>
</div>
