@model IEnumerable<Server.DTOs.LeaveRequests.LeaveRequestAdminDto>

@{
    ViewData["Title"] = "IndexAdmin";
}


@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<div class="card">
    <h1 class="card-header text-center">Data Leave Request</h1>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        No.
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Guid)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.EmployeeGuid)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.LeaveType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LeaveStart)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LeaveEnd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Notes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AttachmentUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FeedbackNotes)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int rowNumber = 1;
                }
        @foreach (var item in Model) {
                <tr>
                        <td>
                            @rowNumber
                        </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Guid)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                   @* <td>
                        @Html.DisplayFor(modelItem => item.EmployeeGuid)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveType)
                    </td>
                    <td>
                        @if (item.LeaveStart != null)
                        {
                            @item.LeaveStart.Date.ToString("dd/MM/yyyy")
                        }
                    </td>
                    <td>
                        @if (item.LeaveEnd != null)
                        {
                            @item.LeaveEnd.Date.ToString("dd/MM/yyyy")
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttachmentUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FeedbackNotes)
                    </td>
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
                </tr>
                    rowNumber++;
        }
            </tbody>
        </table>
    </div>
</div>


@section Scripts
    {
    <script>
        const Token = '@Context.Session.GetString("JWToken")';


        $(document).ready(function () {
                 const Token = '@Context.Session.GetString("JWToken")';
            $.ajax({
                url: "https://localhost:7293/api/accounts/",
                headers: {
                    "Authorization": "Bearer " + Token
                }
            }).done(function (result) {
                if (result.data.length > 0) {
                    const accounts = result.data.find(e => e.guid === '@User.FindFirst("Guid")?.Value');
                    console.log(accounts)
                    if (accounts && accounts.profilPictureUrl) {
                        $('#profilePicture').attr('src', accounts.profilPictureUrl);
                        $('#profilePictureDropDown').attr('src', accounts.profilPictureUrl);
                    } else {
                        $('#profilePicture').attr('src', '/assets/img/avatars/1.png');
                        $('#profilePictureDropDown').attr('src', '/assets/img/avatars/1.png');
                    }
                } else {
                    $('#profilePicture').attr('src', '/assets/img/avatars/1.png');
                    $('#profilePictureDropDown').attr('src', '/assets/img/avatars/1.png');
                }
            }).fail(function () {
                $('#profilePicture').attr('src', '/assets/img/avatars/1.png');
                $('#profilePictureDropDown').attr('src', '/assets/img/avatars/1.png');
            });
        });
    </script>
}
