@model IEnumerable<Server.DTOs.LeaveRequests.LeaveRequestAdminDto>

@{
    ViewData["Title"] = "IndexAdmin";
}


@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<div class="card">
    <h1 class="card-header text-center">Data Leave Request</h1>
    @if (Model != null && Model.Any(item => item.Status != Server.Utilities.Enums.Status.Draft))
    {
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Full Name</th>
                        <th>Leave Type</th>
                        <th>Leave Start</th>
                        <th>Leave End</th>
                        <th>Notes</th>
                        <th>Attachment</th>
                        <th>Status</th>
                        <th>Feedback Notes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int rowNumber = 1;
                    }
                    @foreach (var item in Model)
                    {
                        if (item.Status == Server.Utilities.Enums.Status.Draft)
                        {
                            continue;
                        }
                        <tr>
                            <td>@rowNumber</td>
                            <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                            <td>@Html.DisplayFor(modelItem => item.LeaveType)</td>
                            <td>
                                @if (item.LeaveStart != null)
                                {
                                    @item.LeaveStart.Date.ToString("dd/MM/yyyy")
                                }
                            </td>
                            <td>
                                @if (item.LeaveEnd != null)
                                {
                                    @item.LeaveEnd.Date.ToString("dd/MM/yyyy")
                                }
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Notes)</td>
                            <td>@Html.DisplayFor(modelItem => item.AttachmentUrl)</td>
                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                            <td>@Html.DisplayFor(modelItem => item.FeedbackNotes)</td>
                            <td>
                                @* Tambahkan tombol Edit, Details, Delete jika diperlukan *@
                                @* Contoh: *@
                                @* <a href="@Url.Action("Edit", new { id = item.Guid })">Edit</a> | *@
                                @* <a href="@Url.Action("Details", new { id = item.Guid })">Details</a> | *@
                                @* <a href="@Url.Action("Delete", new { id = item.Guid })">Delete</a> *@
                            </td>
                        </tr>
                        rowNumber++;
                    }
                </tbody>
            </table>
        </div>
    }
</div>


@section Scripts
    {
    <script>
        const Token = '@Context.Session.GetString("JWToken")';


        $(document).ready(function () {
                 const Token = '@Context.Session.GetString("JWToken")';
            $.ajax({
                url: "https://localhost:7293/api/accounts/",
                headers: {
                    "Authorization": "Bearer " + Token
                }
            }).done(function (result) {
                if (result.data.length > 0) {
                    const accounts = result.data.find(e => e.guid === '@User.FindFirst("Guid")?.Value');
                    console.log(accounts)
                    if (accounts && accounts.profilPictureUrl) {
                        $('#profilePicture').attr('src', accounts.profilPictureUrl);
                        $('#profilePictureDropDown').attr('src', accounts.profilPictureUrl);
                    } else {
                        $('#profilePicture').attr('src', '/assets/img/avatars/1.png');
                        $('#profilePictureDropDown').attr('src', '/assets/img/avatars/1.png');
                    }
                } else {
                    $('#profilePicture').attr('src', '/assets/img/avatars/1.png');
                    $('#profilePictureDropDown').attr('src', '/assets/img/avatars/1.png');
                }
            }).fail(function () {
                $('#profilePicture').attr('src', '/assets/img/avatars/1.png');
                $('#profilePictureDropDown').attr('src', '/assets/img/avatars/1.png');
            });
        });
    </script>
}
