@using Server.Utilities.Enums;
@model IEnumerable<Server.DTOs.LeaveRequests.LeaveRequestDetailDto>

@{
    ViewData["Title"] = "Account";
    Layout = "_LayoutAdmin";
}

<h1 class="text-center">Leave Request</h1>

<div id="accordionExample" class="accordion accordion-without-arrow">
    <div class="row">
    <div class="col-lg-6">
        @foreach (var item in Model.OrderByDescending(item => item.RequestNumber).Take(Model.Count()/2))
        {
            var accordionId = $"accordion_{item.RequestNumber.Replace(" ", "_")}";
            <div class="card accordion-item mt-2">
                <h2 class="accordion-header" id="heading_@accordionId">
                    <button type="button"
                            class="accordion-button collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#@accordionId"
                            aria-controls="@accordionId">
                        <span class="col">@Html.DisplayFor(modelItem => item.RequestNumber)</span>
                        <div class="row">
                            <div class="col">
                                <span class="badge bg-secondary">@item.LeaveDays.Days Days</span>
                                @if (item.Status == Status.Draft)
                                {
                                    <span class="badge bg-secondary">Draft</span>
                                }
                                else if (item.Status == Status.OnProcess)
                                {
                                    <span class="badge bg-primary">OnProcess</span>
                                }
                                else if (item.Status == Status.Success)
                                {
                                    <span class="badge bg-success">Success</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">Rejected</span>
                                }
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="@accordionId"
                     class="accordion-collapse collapse"
                     aria-labelledby="heading_@accordionId"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body card-body">
                        <div class="d-grid table">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Relation Manager
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.RelationManager)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Leave Type
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.LeaveType)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Leave Start
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.LeaveStart)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Leave End
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.LeaveEnd)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Phone Number
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Notes
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.Notes)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Leave Days
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.LeaveDays.Days) Days
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Status
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.Status)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Attachment
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.Attachment)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Feedback Notes
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.FeedbackNotes)
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            @if (item.Status == Status.Success || item.Status == Status.Rejected)
                            {
                                <div class="m-1">
                                    <button class="btn rounded-pill btn-outline-success" disabled>
                                        <span class="tf-icons bx bx-envelope d-none d-sm-inline"></span>&nbsp; Response
                                    </button>
                                </div>
                                <div class="m-1">
                                    <button class="btn rounded-pill btn-outline-danger" disabled>
                                        <span class="tf-icons bx bx-trash d-none d-sm-inline"></span>&nbsp; Delete
                                    </button>
                                </div>
                            }
                            else
                            {
                                <div class="m-1">
                                    <form>
                                        <a asp-action="Response" asp-controller="LeaveRequest" asp-route-id="@item.Guid" class="btn rounded-pill btn-outline-success">
                                            <span class="tf-icons bx bx-envelope d-none d-sm-inline"></span>&nbsp; Response
                                        </a>
                                    </form>
                                </div>
                                <div class="m-1">
                                    <form action="/LeaveRequest/Delete" method="post" onsubmit="return confirm('Apakah Anda Yakin Ingin menghapus data ini?')">
                                        <input type="hidden" value="@item.Guid" name="guid"/>
                                        <button value="" class="btn rounded-pill btn-outline-danger" onclick="return true">
                                            <span class="tf-icons bx bx-trash d-none d-sm-inline"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-lg-6 col-12 mt-lg-0">
            
        @foreach (var item in Model.OrderByDescending(item => item.RequestNumber).Skip(Model.Count()/2))
        {
            var accordionId = $"accordion_{item.RequestNumber.Replace(" ", "_")}";
            <div class="card accordion-item mt-2">
                <h2 class="accordion-header" id="heading_@accordionId">
                    <button type="button"
                            class="accordion-button collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#@accordionId"
                            aria-controls="@accordionId">
                        <span class="col">@Html.DisplayFor(modelItem => item.RequestNumber)</span>
                        <div class="row">
                            <div class="col">
                                <span class="badge bg-secondary">@item.LeaveDays.Days Days</span>
                                @if (item.Status == Status.Draft)
                                {
                                    <span class="badge bg-secondary">Draft</span>
                                }
                                else if (item.Status == Status.OnProcess)
                                {
                                    <span class="badge bg-primary">OnProcess</span>
                                }
                                else if (item.Status == Status.Success)
                                {
                                    <span class="badge bg-success">Success</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">Rejected</span>
                                }
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="@accordionId"
                     class="accordion-collapse collapse"
                     aria-labelledby="heading_@accordionId"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body card-body">
                        <div class="d-grid table">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Relation Manager
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.RelationManager)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Leave Type
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.LeaveType)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Leave Start
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.LeaveStart)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Leave End
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.LeaveEnd)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Phone Number
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Notes
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.Notes)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Leave Days
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.LeaveDays.Days) Days
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Status
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.Status)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Attachment
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.Attachment)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    Feedback Notes
                                </div>
                                <div class="col-7 col-md-8">
                                    : @Html.DisplayFor(modelItem => item.FeedbackNotes)
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            @if (item.Status == Status.Success || item.Status == Status.Rejected)
                            {
                                <div class="m-1">
                                    <button class="btn rounded-pill btn-outline-success" disabled>
                                        <span class="tf-icons bx bx-envelope d-none d-sm-inline"></span>&nbsp; Response
                                    </button>
                                </div>
                                <div class="m-1">
                                    <button class="btn rounded-pill btn-outline-danger" disabled>
                                        <span class="tf-icons bx bx-trash d-none d-sm-inline"></span>&nbsp; Delete
                                    </button>
                                </div>
                            }
                            else
                            {
                                <div class="m-1">
                                    <form>
                                        <a asp-action="Response" asp-controller="LeaveRequest" asp-route-id="@item.Guid" class="btn rounded-pill btn-outline-success">
                                            <span class="tf-icons bx bx-envelope d-none d-sm-inline"></span>&nbsp; Response
                                        </a>
                                    </form>
                                </div>
                                <div class="m-1">
                                    <form action="/LeaveRequest/Delete" method="post" onsubmit="return confirm('Apakah Anda Yakin Ingin menghapus data ini?')">
                                        <input type="hidden" value="@item.Guid" name="guid"/>
                                        <button value="" class="btn rounded-pill btn-outline-danger" onclick="return true">
                                            <span class="tf-icons bx bx-trash d-none d-sm-inline"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>
</div>
