@model Server.DTOs.Employees.EmployeeDto

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <div class="card mx-auto mb-3 border-0">
            <div class="card-body">
                <div>
                    <h1 class="card-header bg-primary text-white text-center">Edit Employee</h1>
                    <br />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <form action="/Employee/Update" method="post">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <input asp-for="Guid" class="form-control" hidden />
                                    <span asp-validation-for="Guid" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Nik" class="control-label"></label>
                                    <input asp-for="Nik" class="form-control" readonly />
                                    <span asp-validation-for="Nik" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FirstName" class="control-label">First Name</label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastName" class="control-label">Last Name</label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BirthDate" class="control-label">Birth Date</label>
                                    <input asp-for="BirthDate" class="form-control" type="date" />
                                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Gender" class="control-label"></label>
                                    <select class="form-control" asp-for="Gender" aria-label="Floating label select example">
                                        <option selected>Open this select menu</option>
                                        <option value="0">Male</option>
                                        <option value="1">Female</option>
                                    </select>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LeaveRemain" class="control-label" hidden></label>
                                    <input asp-for="LeaveRemain" class="form-control" hidden />
                                    <span asp-validation-for="LeaveRemain" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastLeaveUpdate" class="control-label" hidden></label>
                                    <input asp-for="LastLeaveUpdate" class="form-control" type="date" hidden />
                                    <span asp-validation-for="LastLeaveUpdate" class="text-danger"></span>
                                </div>
                            </div>

                            

                            <div class="col-6">
                                
                                <div class="form-group">
                                    <label asp-for="HiringDate" class="control-label">Hiring Date</label>
                                    <input asp-for="HiringDate" class="form-control" type="date" />
                                    <span asp-validation-for="HiringDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DepartmentGuid" class="control-label">Department</label>
                                    @*<input asp-for="DepartmentGuid" class="form-control" id="depGuid" hidden />*@
                                    @*<input id="depName" class="form-control" disabled />*@
                                    <select asp-for="DepartmentGuid" class="form-control depName">
                                    </select>
                                    <span asp-validation-for="DepartmentGuid" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ManagerGuid" class="control-label">Manager</label>
                                    @*<input asp-for="ManagerGuid" id="managerGuid" class="form-control" />*@
                                    <select asp-for="ManagerGuid"  class="manager form-control">
                                    </select>
                                    <span asp-validation-for="ManagerGuid" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                        </form>
                        
                        
                    
                </div>
                <br />
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

@section Scripts{
    <script>
        const Token = '@Context.Session.GetString("JWToken")';
        //department
        $.ajax({
            url: "https://localhost:7293/api/departments/",
            headers: {
                "Authorization": "Bearer " + Token
            }
        }).done(function (result) {
            if (result.data.length > 0) {
                let depOptions = '';
                result.data.forEach(dep => {
                    depOptions += `<option value="${dep.guid}">${dep.name} (${dep.code})</option>`;
                });
                $('.depName').html(depOptions);
                const selectedDepartmentGuid = '@Model.DepartmentGuid';
                $('.depName').val(selectedDepartmentGuid);
            } else {
                $('.depName').html("<option value=''>No department data</option>");
            }
        }).fail(function () {
            $('.depName').html("<option value=''>Failed to fetch data</option>");
        });

        $.ajax({
            url: "https://localhost:7293/api/employees/get-manager",
            headers: {
                "Authorization": "Bearer " + Token
            }
        }).done(function (result) {
            if (result.data.length > 0) {
                let managerOptions = '';
                result.data.forEach(man => {
                    managerOptions += `<option value="${man.managerGuid}">${man.managerName} (${man.departmentName})</option>`;
                });
                $('.manager').html(managerOptions);
                const selectedDepartmentGuid = '@Model.ManagerGuid';
                $('.manager').val(selectedDepartmentGuid);
            } else {
                $('.manager').html("<option value=''>No manager data</option>");
            }
        }).fail(function () {
            $('.manager').html("<option value=''>Failed to fetch data</option>");
        });
        
        $(document).ready(function () {
            const Token = '@Context.Session.GetString("JWToken")';
            $.ajax({
                url: "https://localhost:7293/api/accounts/",
                headers: {
                    "Authorization": "Bearer " + Token
                }
            }).done(function (result) {
                if (result.data.length > 0) {
                    const accounts = result.data.find(e => e.guid === '@User.FindFirst("Guid")?.Value');
                    console.log(accounts)
                    if (accounts && accounts.profilPictureUrl) {
                        $('#profilePicture').attr('src', accounts.profilPictureUrl);
                        $('#profilePictureDropDown').attr('src', accounts.profilPictureUrl);
                    } else {
                        $('#profilePicture').attr('src', '/assets/img/avatars/1.png');
                        $('#profilePictureDropDown').attr('src', '/assets/img/avatars/1.png');
                    }
                } else {
                    $('#profilePicture').attr('src', '/assets/img/avatars/1.png');
                    $('#profilePictureDropDown').attr('src', '/assets/img/avatars/1.png');
                }
            }).fail(function () {
                $('#profilePicture').attr('src', '/assets/img/avatars/1.png');
                $('#profilePictureDropDown').attr('src', '/assets/img/avatars/1.png');
            });
        });
      
    </script>
}