@model List<Server.DTOs.Feedbacks.FeedbackDto>

@{
    ViewData["Title"] = "Index";
}



<div class="card">
    <h1 class="card-header">Data Feedbacks</h1>
    <p>
        <a class="btn btn-primary" href="/Feedback/Create">Add Feedback <i class="fa-solid fa-plus"></i></a>
        @*<a asp-action="Create">Create New</a>*@
    </p>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].LeaveRequestGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Guid)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>*@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveRequestGuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guid)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Guid" class="fas fa-edit text-info"></a>
                <form action="/Feedback/Delete" method="post" onsubmit="return confirm('Apakah Anda Yakin Ingin menghapus data ini?')">
                     <input type="hidden" value="@item.Guid" name="guid" />
                     <button value="" class="fas fa-trash text-danger" onclick="return true"></button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>