@model IEnumerable<Server.Models.Role>

@{
    ViewData["Title"] = "Index";
    
}

<div class="card">
    <h1 class="card-header">Data Roles</h1>
    <p>
        <a class="btn btn-primary" href="/Role/Create">Add Role <i class="fa-solid fa-plus"></i></a>
        @*<a asp-action="Create">Create New</a>*@
    </p>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover" id="roleTable">
        <thead>
        <tr>
            <th>
               No.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Guid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>*@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
                @{
                    int rowNumber = 1;
                }
@foreach (var item in Model) {
        <tr>
            <td>
                @rowNumber
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Guid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Guid" class="fas fa-edit text-info"></a>
                <form action="/Role/Delete" method="post" onsubmit="return confirm('Apakah Anda Yakin Ingin menghapus data ini?')">
                    <input type="hidden" value="@item.Guid" name="guid" />
                    <button value="" class="fas fa-trash text-danger" onclick="return true"></button>
                </form>
            </td>
        </tr>
        rowNumber++;
}
    </tbody>
</table>
</div>
</div>