@model IEnumerable<Server.DTOs.AccountRoles.AccountRoleInfoDto>

@{
    ViewData["Title"] = "Info";
}


<div class="card">
    <h1 class="card-header">Data Account Role</h1>
    <p>
        <a class="btn btn-primary" href="/AccountRole/Create">Add Account Role <i class="fa-solid fa-plus"></i></a>
    </p>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    No.
                </th>
                @*<th>
                @Html.DisplayNameFor(model => model.Guid)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Nik)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int rowNumber = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @rowNumber
                    </td>
                    @*<td>
                @Html.DisplayFor(modelItem => item.Guid)
                </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Nik)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <ul>
                            @foreach (var role in item.Role)
                            {
                                <li style="list-style: none">
                                    <div style="display: flex">
                                        @Html.DisplayFor(modelItem => role.Name)
                                        <form action="/AccountRole/Delete" method="post" onsubmit="return confirm('Apakah Anda Yakin Ingin menghapus data ini?')">
                                            @*<a asp-action="Delete" onclick="return true" asp-route-id="@item.Guid" class="fas fa-trash text-danger"></a>*@
                                            <input type="hidden" value="@role.Guid" name="guid"/>
                                            <button value="" class="fas fa-trash text-danger" onclick="return true"></button>
                                        </form>
                                    </div>
                                </li>
                            }
                        </ul>
                    </td>
                </tr>
                rowNumber++;
            }
        </tbody>
    </table>
    </div>
</div>

